!!!5
html(class="eco-#{authenticated}")
  head
    meta(charset="UTF-8")
    title The Eco - #{version}
    link(rel="stylesheet", href="styles/global.css", type="text/css")
    script(src="js/utils/head.js")
  
  body
    unless !authenticated
      div.orb-wrapper
        a.orb(href="/add/note")
          span.name #{name}
        
    div.shadow.blue.header.clear.border-bottom
      h1.logo.text-shadow 
        span The Eco

    div.footer.bottom.border-top
      div.pod Version #{version}
        a(href="http://perfectsensedigital.com") Perfect Sense Digital
        a(href="http://github.com/erik5388/eco") Github
        unless !authenticated
          a.logout(href="/logout") Logout
          span Welcome #{name} &nbsp; | 

    !{body}

  script(src="js/main.js")